
<button class="btn btn-success" routerLink="/cart"> Go To Cart</button>


<select class="form-select mt-4" [(ngModel)]="filteredProducts">
  <option value="all">All</option>
  <option value="Clothes">Clothes</option>
  <option value="Electronics">Electronics</option>
  <option value="Jewlary">Jewlary</option>
</select>

<app-products
  [filteredProducts]="filteredProducts"
  (addChildEvent)="getItems($event)"
></app-products>

@if(cart.length) {
<h1>Cart Items</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Title</th>
      <th scope="col">Product Price</th>
      <th scope="col">Product quantity</th>
      <th scope="col">Purchase Date</th>
    </tr>
  </thead>
  <tbody>
    @for(item of cart ;track item.id){
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.productInCart }}</td>
      <td>{{ item.purchaseDate | date : "short" }}</td>
    </tr>
    }
  </tbody>
</table>
<h3 class="text-center">TotalPrice:{{ totalPrice() | currency }}</h3>
}
